/*----------------------
 Base Element Styles
 -----------------------*/

* {
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FFF;
  overflow-x: hidden;
}

.main-header {
  background-color: #608ff7;
  width: 100%;
  padding: 10px;
  margin-top: 0;
  padding-bottom: 25px;
}

/* This targets the main header, which is the navigation bar down
to the bio information. It gives the entire section a blue background color.
It makes the width take up 100% of the screen. The 10px padding allows
any elements within this section to have 10px of space between the edges
of the screen. A margin-top of 0 allows the section (and therefore color)
to extend to the top edge of the screen. The padding-bottom of 25px adds 25
pixels below this section. this is in addition to the 10 pixels applied all
around already. We have the general padding but the bottom needs to have a litte
more space than the other sides.*/

.nav {
  width: auto;
  width: 100%;
}

/* this targets the nav section of HTML. This is nested within the main header
but now receives it's own styling. These are the four button links. The auto
width is the default, it lets the browser calculate the value. The width of
100% is used to fill the entire space. Why both? */

.bio {
  color: white;
}

/* Targets the bio text in the header section and makes the color white */

.about-me, footer {
  background-color: #608ff7;
}

/* Targets the about me and footer sections at the bottom of the page.
It makes the background color blue.  */

h1 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Permanent Marker', sans-serif;
  color: white;
}

/* Targets all the h1 elements. In this case, there is one. My name.
Gives the font a size of 2.5em, the em is scaleable and allows it to change
as the window size is adjusted. 1em = the font of the document. If it's 12pt,
then 12pt = 1em. Text align centers it in the middle of the page. The padding
bottom gives 5px beneath the text. Font-family defines font style.
The color of the text is white. */

.portfolio {
  padding-bottom: 25px;
}

/* Targets portfolio section, which is all of the middle content. Adds
25px of padding below it. */

.main-header ul {
  margin-right: 30px;
}

/* Targets the ul (unordered list) in the main-header section.
The right margin has 30px of space from the text boxes to the edge of
the screen. */

.main-header li {
  background-color: #FED36E;
  /* padding: 20px 15px; */
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  height: 15px;
  display: block;
  list-style: none;
}

/* Targets the list items/text in the header section. The ul is the entire
list as a whole. These li elements are nested inside and need their own
styling? Background color is set to gold. Padding on all sides pushes the
edges of the box further away from the text. The bottom has a higher value
because text sits furher down naturally like when you're writing. This extends
the box so it floats more center. Top and bottom margins of 5px give the box
appearance. It pushes the surrounding text away, reveals the background.
Text align centers the text. Font size is 23px. Font style is Poppins. The
height is 15px, gives the boxes their size. Block display stacks the list
on top of one another. Inline-block would put them on the same line but this is
for the mobile layout. List-style is none */

.home-button:hover,
.portfolio-button:hover,
.skills-button:hover,
.contact-button:hover {
  background-color: white;
}

.profile {
  width: 70%;
  height: 70%;
  margin-top: 30px;
  padding: 12px 15%;
}

p {
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  padding-top: 30px;
  padding-bottom: 40px;
}

h2,
h3,
h4 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 1.6em;
  font-weight: bolder;
  padding-top: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

img {
  max-width: 80%;
}

img:hover {
  background-color: #608ff7;
}

.about-me {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #608ff7;
}

.about-me li {
  list-style: none;
  font-size: 1.3em;
  padding-bottom: 20px;
  text-align: center;
}

.about-me span {
  font-weight: bolder;
}

/* hr {
  background-color: #FAFAFA;
  padding-top: 0;
  padding-bottom: 0;
} */
.about-me h4 {
  text-align: center;
  color: white;
}

.about-me p {
  color: white;
}

.about-me li {
  color: white;
}

.skills {
  background-color: #fed36e;
  PADDING-TOP: 10px;
  padding-bottom: 70px;
  color: white;
}

.skills ul {
  list-style: square;
  text-align: center;
  margin-bottom: 0;
}

.skills li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.skills li {
  background: black;
}

.skills li:nth-child(odd) {
  background: #608ff7;
}

footer h4 {
  display: inline-block;
  padding-left: 15px;
  font-size: 1em;
  color: white;
  font-family: 'Permanent Marker', sans-serif;
}

footer {
  background-color: #608ff7;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

hr {
  margin: 0;
  height: .1px;
  border: solid 2px rgb(242, 242, 242);
  width: 95%;
  margin: 0 auto;
}

.back-to-top {
  float: right;
  margin-right: 1%;
}

.back-to-top a {
  color: white;
}

.back-to-top a:hover {
  color: black;
}

.bottom-links {
  display: none;
}

.wrapper {
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 0;
  }

  .nav li {
    display: inline-block;
    background-color: #FED36E;
    font-size: 1.1em;
  }

  .nav ul {
    margin-top: 0;
  }

  .nav {
    text-align: center;
    padding-bottom: 15px;
  }

  .profile {
    float: right;
    width: 38%;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0;
    margin: 0 auto;
  }

  .bio {
    display: inline;
    padding-left: 10px;
    font-size: 1.3em;
  }

  .main-header {
    overflow: auto;
  }

  .portfolio {
    width: 45%;
    display: inline-block;
    /*
Removed to test impact. No drastic changes
    padding-left: 10px;
    padding-right: 10px; */
    text-align: center;
    height: 442px;
    vertical-align: top;


  }

  .portfolio p {}

  p {
    font-size: 20px;
  }

  img {
    width: 100%;
  }

  .about-me p {
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-me h4 {
    font-size: 1.2em;
    font-weight: bold;
  }

  .skills {
    font-size: .8em;
  }



  .skills li {
    font-size: 1.6em;
  }

  .bottom-links {
    display: inline-block;
    float: right;
    margin-right: 2%;
  }

  .bottom-links a {
    color: white;
  }

  .bottom-links a:hover {
    color: black;
  }

  .back-to-top {
    display: none;
  }

  footer {
    padding-bottom: 30px;
  }

  footer h4 {
    margin-left: 1%;
  }

.wrapper {
margin-right: 20px;
}

}

@media (min-width:1024px) {
  body {
    background-color: #FAFAFA;
  }

  .nav h1 {
    text-align: left;
    font-size: 1.3em;
    float: left;
    padding-left: 20px;
  }

  .nav ul {
    text-align: right;
    font-size: .8em;
  }

  .main-header {
    overflow: auto;
  }

  .portfolio {
    width: 31%;
  }

  .profile {
    margin-left: 50px;
  }

  .about-me p {
    padding-left: 25%;
    padding-right: 25%;
  }

  #portfolio-section {
    margin-top: 0;
    text-align: center;
  }

  .portfolio p {
    font-size: 1.1em;
  }

  .wrapper {
    /* margin-left: 15px;
    margin-right: 15px; */
    BACKGROUND-COLOR: white;
    padding-top: 0;
    margin-left: 20px;
    padding-right: 20px;
  }


.skills li {
  font-size: 2.0em;
}

footer h4 {
  margin-left: 2%;
}

}
