
/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.name {
  color: #3acec2;
  }

h2,
h3 {
  color: #3acec2;
}

/* =================================
  Base Layout Styles
==================================== */



/* ---- Navigation ---- */



/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */



/* =================================
  Media Queries
==================================== */



/* ---- Float clearfix ---- */
