html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: #FFF;
  margin: 0 0%;
  padding: 0;
}

.main-header {
  background-color: #608ff7;
  width: 100%;
  padding: 10px;
  margin-top: 0;
  padding-bottom: 25px;
}

.nav {
  width: auto;
  width: 100%;
}

.bio {
  color: white;
}

.about-me, footer {
  background-color: #608ff7;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.portfolio {
  padding-bottom: 25px;
}

.main-header ul {
  padding: 0;
  margin-right: 30px;
}

.main-header li {
  background-color: #FED36E;
  /* padding: 20px 15px; */
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  text-align: center;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  height: 15px;
  display: block;
  list-style: none;
}

.home-button:hover,
.portfolio-button:hover,
.skills-button:hover,
.contact-button:hover {
  background-color: white;
}

.profile {
  width: 70%;
  height: 70%;
  margin-top: 30px;
  padding: 12px 15%;
}

p {
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  padding-top: 30px;
  padding-bottom: 40px;
}

h2,
h3,
h4 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 1.6em;
  font-weight: bolder;
  padding-top: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

img {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: auto;
}

img:hover {
  background-color: #F78360;
}

.about-me {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #608ff7;
}

.about-me li {
  list-style: none;
  font-size: 1.3em;
  padding-bottom: 20px;
  text-align: center;
}

.about-me span {
  font-weight: bolder;
}

/* hr {
  background-color: #FAFAFA;
  padding-top: 0;
  padding-bottom: 0;
} */
.about-me h4 {
  text-align: center;
  color: white;
}

.about-me p {
  color: white;
}

.about-me li {
  color: white;
}

.skills {
  background-color: #36ACD0;
  PADDING-TOP: 10px;
  padding-bottom: 70px;
  color: white;
}

.skills ul {
  list-style: square;
  text-align: center;
  margin-bottom: 0;
}

.skills li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.skills li {
  background: #F78360;
}

.skills li:nth-child(odd) {
  background: #FED36E;
}

footer h4 {
  display: inline-block;
  padding-left: 15px;
  font-size: 1em;
  color: white;
}

footer {
  background-color: #608ff7;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

hr {
  margin: 0;
  height: .1px;
  border: solid 2px rgb(242, 242, 242);
  width: 95%;
  margin: 0 auto;
}

.back-to-top {
  float: right;
  margin-right: 1%;
}

.back-to-top a {
  color: white;
}

.back-to-top a:hover {
  color: black;
}

.bottom-links {
  display: none;
}

.wrapper {
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 0;
  }

  .nav li {
    display: inline-block;
    background-color: #FED36E;
    font-size: 1.1em;
  }

  .nav ul {
    margin-top: 0;
  }

  .nav {
    text-align: center;
    padding-bottom: 15px;
  }

  .profile {
    float: right;
    width: 38%;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0;
    margin: 0 auto;
  }

  .bio {
    display: inline;
    padding-left: 10px;
    font-size: 1.3em;
  }

  .main-header {
    overflow: auto;
  }

  .portfolio {
    width: 45%;
    display: inline-block;
    /*
Removed to test impact. No drastic changes
    padding-left: 10px;
    padding-right: 10px; */
    text-align: center;
    height: 442px;
    vertical-align: top;


  }

  .portfolio p {}

  p {
    font-size: 20px;
  }

  img {
    width: 100%;
  }

  .about-me p {
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-me h4 {
    font-size: 1.2em;
    font-weight: bold;
  }

  .skills {
    font-size: .8em;
  }



  .skills li {
    font-size: 1.6em;
  }

  .bottom-links {
    display: inline-block;
    float: right;
    margin-right: 2%;
  }

  .bottom-links a {
    color: white;
  }

  .bottom-links a:hover {
    color: black;
  }

  .back-to-top {
    display: none;
  }

  footer {
    padding-bottom: 30px;
  }

  footer h4 {
    margin-left: 1%;
  }

.wrapper {
margin-right: 20px;
}

}

@media (min-width:1024px) {
  body {
    background-color: #FAFAFA;
  }

  .nav h1 {
    text-align: left;
    font-size: 1.3em;
    float: left;
    padding-left: 20px;
  }

  .nav ul {
    text-align: right;
    font-size: .8em;
  }

  .main-header {
    overflow: auto;
  }

  .portfolio {
    width: 31%;
  }

  .profile {
    margin-left: 50px;
  }

  .about-me p {
    padding-left: 25%;
    padding-right: 25%;
  }

  #portfolio-section {
    margin-top: 0;
    text-align: center;
  }

  .portfolio p {
    font-size: 1.1em;
  }

  .wrapper {
    /* margin-left: 15px;
    margin-right: 15px; */
    BACKGROUND-COLOR: white;
    padding-top: 0;
    margin-left: 20px;
    padding-right: 20px;
  }


.skills li {
  font-size: 2.0em;
}

footer h4 {
  margin-left: 2%;
}

}
